*{
        width: auto;
    height: auto;
    background-color: rgb(234, 234, 195);
    color: rgb(194, 109, 5);
}


p {
    background-color: yellow;

    text-decoration: underline;
    
  font-family: "Playwrite BE WAL Guides", cursive;
  font-weight: 400;
  font-style: normal;
}



ul{
        list-style: none;

}
#pcpc{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.meow {
    

  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

